/* Select all elements */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Select element by id, (Only used once) */
#once {
    background-color: darkcyan;
}
/* Select elements by class name*/
.section-border {
    border: 2px solid green;
}